    <div class="col-xs-6">
      <div class="group-header">
        <h4>Group <%= group.name %></h4>
      </div>
      <div class="tournament-wrapper">
        <% group.games.each do |game| %>
          <div class="game-line">
            <div class="game-home-team">
              <p><%= game.entry_home.name %></p>
            </div>
            <% if game.entry_home_score.nil? %>
              <div class="result-button"><p class="btn xi-start-button" data-toggle="modal" data-target="#modal-<%= game.id %>"><i class="fa fa-futbol-o" aria-hidden="true"></i></p></div>
            <% else %>
              <div class="game-home-score">
                <p><%= game.entry_home_score %></p>
              </div>
              <div class="game-away-score">
                <p><%= game.entry_away_score %></p>
              </div>
            <% end %>
            <div class="game-away-team">
              <p><%= game.entry_away.name %></p>
            </div>
          </div>
          <!-- Result Modal  -->
          <div class="modal fade bs-example-modal-sm" id="modal-<%= game.id %>" tabindex="-1" role="dialog" aria-labelledby="mySmallBenchModalLabel">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="tournament-header">
                    <h4>Record Result</h4>
                  </div>
                  <%= simple_form_for [@tournament, game] do |f| %>
                    <div class="game-line">
                      <div class="game-home-team">
                        <p><%= game.entry_home.name %></p>
                      </div>
                      <div class="game-home-score">
                        <p><%= f.input :entry_home_score, label: "Home" %></p>
                      </div>
                      <div class="game-away-score">
                        <p><%= f.input :entry_away_score, label: "Away" %></p>
                      </div>
                      <div class="game-away-team">
                        <p><%= game.entry_away.name %></p>
                      </div>
                    </div>
                    <%= f.submit "Submit", class: "btn btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <!-- Result Modal End -->
        <% end %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="standings-header">
        <h4>Standings</h4>
      </div>
      <div class="tournament-wrapper">
        <div class="standings-line" style="font-weight:bolder">
          <div class="standings-team">
            <p>Team</p>
          </div>
          <div class="standings-wins">
            <p>W</p>
          </div>
          <div class="standings-draws">
            <p>D</p>
          </div>
          <div class="standings-losses">
            <p>L</p>
          </div>
          <div class="standings-difference">
            <p>GD</p>
          </div>
          <div class="standings-points">
            <p>Pts</p>
          </div>
        </div>
        <% standings.entries.each do |entry| %>
          <div class="standings-line">
            <div class="standings-team">
              <p><%= entry.name %></p>
            </div>
            <div class="standings-wins">
              <p><%= entry.wins.length %></p>
            </div>
            <div class="standings-draws">
              <p><%= entry.draws %></p>
            </div>
            <div class="standings-losses">
              <p><%= entry.losses.length %></p>
            </div>
            <div class="standings-difference">
              <p><%= entry.difference %></p>
            </div>
            <div class="standings-points">
              <p><%= entry.points %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
