<div class="col-xs-12">
  <h2>Knockout Round</h2>
  <div class="tournament-wrapper">
    <div class="knockout-box">
      <div class="knockout-stage">
        <%= render partial: "games/knockout_game", locals: {
          game: @quarter_one } %>
        <%= render partial: "games/knockout_game", locals: {
          game: @quarter_two } %>
      </div>
      <div class="knockout-stage">
        <%= render partial: "games/knockout_game", locals: {
          game: @semi_one } %>
      </div>
      <div class="knockout-stage">
        <%= render partial: "games/knockout_game", locals: {
          game: @final } %>
      </div>
      <div class="knockout-stage">
        <%= render partial: "games/knockout_game", locals: {
          game: @semi_two } %>
      </div>
      <div class="knockout-stage">
        <%= render partial: "games/knockout_game", locals: {
          game: @quarter_one } %>
        <%= render partial: "games/knockout_game", locals: {
          game: @quarter_two } %>
      </div>
    </div>
  </div>
</div>
