<div class="container">
  <h1 style="margin:"><%= @tournament.name %></h1>
  <div class="row">
    <%= render partial: "group_standings", locals: { group: @group_a } %>
  </div>
  <div class="row">
    <%= render partial: "group_standings", locals: { group: @group_b } %>
  </div>
  <div class="row">
    <%= render partial: "group_standings", locals: { group: @group_c } %>
  </div>
  <div class="row">
    <%= render partial: "tournament", locals: { group: @group_c } %>
  </div>
</div>
